<form action="/home/menu_save" method="post">
    
  <div class="form-group">
    <label for="exampleInputEmail1">메뉴 이름</label>
    <input type="text"  name="menuname" class="form-control" id="exampleInputEmail1" placeholder="메뉴를 적어주세여">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">사진 주소</label>
    <input type="text" name="menupicture" class="form-control" id="exampleInputPassword1" placeholder="사진주소를 넣어주세여">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">레시피 주소</label>
    <input type="text" name="menurecipe" class="form-control" id="exampleInputPassword1" placeholder="레시피 주소를 넣어주세여">
  </div>
  
  <button type="submit" class="btn btn-default">제출</button>
</form>