<div class="container jumbotron">
    
    <%= @newdinner.menu_title %>
    <%= @newdinner.menu_recipe %><br>
    <img src="<%= @newdinner.menu_picture %>"><br>
    
    <a href="/">다시뽑기</a>
    
</div 